<ion-header>
  <ion-toolbar>
    <ion-title>
      Morad App
    </ion-title>
    <ion-button (click)="onScan()" slot="end">
      <ion-icon name="Bluetooth"></ion-icon>
      <p>Scan</p>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input  [(ngModel)]="ssid" placeholder="Nom du wifi" required="true" ></ion-input>
  <ion-input [(ngModel)]="password" placeholder="password" required="true" ></ion-input>


  <ion-list>
    <ion-card-content ion-item *ngFor="let device of devices">
      <p>{{device.name || 'inkonu'}}</p>
      <p>{{device.id}}</p>
      <p>{{device.rssi}}</p>
      <ion-button (click)='connect(device)' slot="end"></ion-button>
    </ion-card-content>
  </ion-list>
</ion-content>